@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
  --color-primary: #00bcff;
  --color-secondary: #fc64b6;

}



body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}